/* Write your code here. */
.emoji-game {
  background: linear-gradient(to bottom right, #a18cd1, #fbc2eb);
  padding: 20px;
  min-height: 100vh;
}

.emoji-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  padding: 20px;
  list-style-type: none;
  margin: 0 auto;
  max-width: 600px; /* You can adjust this */
}

.game-over {
  text-align: center;
}
